.WeatherForecast {
  text-align: center;
}
.WeatherForecast-temperature-min {
  opacity: 0.7;
}
.WeatherForecast-day {
  margin-top: 10px;
  margin-bottom: 9px;
}

.WeatherForecast-temperatures {
  margin-top: 6px;
}
